@import url(./vendor/normilize.css);
@import url(./vendor/fonts/fonts.css);

.page {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    font-family: 'Inter', sans-serif;
}


